<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Average</th>
  </tr>
  </thead>

  <tbody>
  <% list.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= round(item.average_rating) %></td>
      </tr>
  <% end %>
  </tbody>
</table>