<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>ratings</th>
  </tr>
  </thead>

  <tbody>
  <% list.each do |item| %>
      <tr>
        <td><%= link_to item.username, item %></td>
        <td><%= item.ratings.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>