@import "bootstrap";

body {
    font-family: 'Noto Sans', sans-serif;
}

.navbar {
    padding: 10px;
    background: #EFEFEF;
}

#membershipnotice {
    color: green;
}

#notice {
    color: green;
}